@font-face {
    font-family: Roboto;
    src: 
        local("Roboto"),
        url(./Roboto-Bold.ttf) format(".ttf");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src:
        local("Roboto"),
        url(./Roboto-Regular.ttf) format(".ttf");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src:
        local("Roboto"),
        url(./Roboto-Medium.ttf) format(".ttf");
    font-display: swap;
    font-weight: 500;
}