:root {
  --background-light: #1b2944;
  --background-dark: #141f35;
  --content-accent: rgb(255, 187, 1);
  --button-accent: rgb(236, 31, 70);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 1280px;
  margin: 0 auto;
  font-family: Roboto, Arial, sans-serif;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

a {
  font-family: inherit;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}
