:root {
    --background-light: #1b2944;
    --background-dark: #141f35;
    --content-accent: rgb(255, 187, 1);
    --image-button-accent: rgb(236, 31, 70);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
    width: 1280px;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    font-family: inherit;
}

img {
    width: 100%;
}